STRIPE_SECRET_KEY=Секретный API ключ с сайта dashboard.stripe.com
STRIPE_CURRENCY=lowercase код валюты (usd, rub, gbp)
STRIPE_SUCCESS_URL=url-адрес
STRIPE_CANCEL_URL=url-адрес

REDIS_HOST=хост
REDIS_PORT=порт
REDIS_DB=redis_db

CELERY_BROKER_DB=celery broker_db
CELERY_RESULT_DB=celery_result_db

# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True,False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_PORT=8000

# Postgres
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=postgres_host
POSTGRES_PORT=postgres_post