STRIPE_SECRET_KEY=Секретный API ключ с сайта dashboard.stripe.com
STRIPE_CURRENCY=lowercase код валюты (usd, rub, gbp)
STRIPE_SUCCESS_URL=url-адрес
STRIPE_CANCEL_URL=url-адрес

REDIS_HOST=хост
REDIS_PORT=порт
REDIS_DB=redis_db

CELERY_BROKER_DB=celery broker_db
CELERY_RESULT_DB=celery_result_db